  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel" style="position: relative;">
    <div class="br-pagetitle">
      <i class="fas fa-user tx-48 "></i>
      <div>
        <h4>Хэрэглэгч</h4>
        <p class="mg-b-0">Хэрэглэгч нэмж , хасах мөн засах эрх олгох боломжтой.</p>
      </div>
    </div>

    <div class="br-pagebody">

        <div class="row row-sm mg-t-20">
            <div class="col-lg-6">
              <div class="card shadow-base bd-0">
                <div class="card-header bg-transparent pd-20">
                  <h6 class="card-title tx-uppercase tx-12 mg-b-0">Хэрэглэгчийн мэдээлэл</h6>

                  <a href="" class="btn btn-primary btn-with-icon btn-block mg-t-10" style="width: 200px;" data-toggle="modal" data-target="#modaldemo6">
                      <div class="ht-40">
                        <span class="icon wd-40"><i class="fa fa-plus"></i></span>
                        <span class="pd-x-15">Хэрэглэгч нэмэх</span>
                      </div>
                    </a>
                </div><!-- card-header -->
                <table class="table table-responsive mg-b-0 tx-12">
                  <thead>
                    <tr class="tx-10">
                      <th class="wd-10p pd-y-5">&nbsp;</th>
                      <th class="pd-y-5">Бичээч</th>
                      <th class="pd-y-5">Төлөв</th>
                      <th class="pd-y-5">Хзэээ нэвтэрсэн</th>
                      <th class="pd-y-5">Засварлах</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pd-l-20">
                        <img src="../../../../assets/images/user-placeholder.png" class="wd-36 rounded-circle" alt="Image">
                      </td>
                      <td>
                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Dashaa</a>
                        <span class="tx-11 d-block">Үүрэг: Бичээч</span>
                      </td>
                      <td class="tx-12">
                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Идэвхитэй байна
                      </td>
                      <td>2018/02/14 17:05:00</td>
                      <td><a href="" class="btn btn-dark btn-icon rounded-circle mg-r-5 mg-b-10"><div><i class="fas fa-cog"></i></div></a></td>
                    </tr>
                    
                  </tbody>
                </table>
                
              </div><!-- card -->
            </div><!-- col-6 -->
            
            

          

          </div>

    </div><!-- br-mainpanel -->

    

    <div id="modaldemo6" class="modal fade show effect-sign" >
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-x-20">
              <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Пунцоглин хийд</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body pd-20">
                <h3 class="tx-inverse  mg-b-5">Хэрэглэгч нэмэх</h3>
                <p>Зөвхөн бичээчийн эрхтэй хэрэглэгч нэмж болно.</p>
                <br>
                <div class="form-group">
                  <input type="text" name="username" class="form-control pd-y-12" placeholder="Нэвтрэх нэр">
                </div><!-- form-group -->
                <div class="form-group mg-b-20">
                    <input type="password" name="password" class="form-control pd-y-12" placeholder="Нууц үг">
                </div><!-- form-group -->
                <div class="form-group mg-b-20">
                    <input type="password" name="password_repeat" class="form-control pd-y-12" placeholder="Нууц үгээ давтана уу">
                </div><!-- form-group -->
              
                
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"><i class="fas fa-plus"></i> Нэмэх</button>
              <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal"> <i class="fas fa-times"></i> Хаах</button>
            </div>
          </div>
        </div><!-- modal-dialog -->
      </div>