<div class="br-pagetitle">
  <i class="fas fa-chart-area tx-48 "></i>
  <div>
    <h4>Өнөөдрийн тайлан</h4>
    <p class="mg-b-0">Тухайн өдөр хэдэн баримт бичсэнийг дэлгэрэнгүй харах боломжтой.</p>
  </div>
</div>



<div class="br-pagebody">

  <div class="br-section-wrapper">
    <div class="row row-sm mg-t-20">
      <div class="col-sm-6 col-lg-4">
        <div class="card shadow-base bd-0 bg-primary tx-white">
          <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
            <h6 class="card-title tx-white tx-uppercase tx-12 mg-b-0">Нийт бичилтийн тоо</h6>
            <span class="tx-12 tx-uppercase">{{today | date:'yyyy-MM-dd'}} өдөр</span>
          </div><!-- card-header -->
          <div class="card-body d-xs-flex justify-content-between align-items-center">
            <h4 class="mg-b-0 tx-white tx-lato tx-bold">{{receipts?.length}} ширхэг баримт </h4>
            <p class="mg-b-0 tx-sm"><i class="fas fa-chart-bar tx-48"></i></p>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- col-4 -->
      <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
        <div class="card shadow-base bd-0 bg-primary tx-white">
          <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
            <h6 class="card-title tx-uppercase tx-white tx-12 mg-b-0">Нийт орлого</h6>
            <span class="tx-12 tx-uppercase">{{ today | date:'yyyy-MM-dd'}}</span>
          </div><!-- card-header -->
          <div class="card-body d-xs-flex justify-content-between align-items-center">
            <h4 class="mg-b-0 tx-white tx-lato tx-bold">{{ total }} төгрөг</h4>
            <p class="mg-b-0 tx-sm"><i class="fas fa-chart-bar tx-48"></i></p>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- col-4 -->
      <div class="col-sm-6 col-lg-4">
        <div class="card shadow-base bd-0 tx-white bg-primary">
          <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
            <h6 class="card-title tx-uppercase tx-12 mg-b-0 tx-white">Буцаасан баримтын тоо</h6>
            <span class="tx-12 tx-uppercase"> {{today | date:'yyyy-MM-dd'}}</span>
          </div><!-- card-header -->
          <div class="card-body d-xs-flex justify-content-between align-items-center">
            <h4 class="mg-b-0 tx-white tx-lato tx-bold">{{ returned }} ширхэг баримт </h4>
            <p class="mg-b-0 tx-sm"><i class="fas fa-chart-bar tx-48"></i></p>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- col-4 -->
    </div>
  </div>

  <div class="br-section-wrapper">

    <h6 class="br-section-label">Өнөөдөр бичсэн баримтууд</h6>

    <table class="table">
      <thead>
        <tr>
          <th>Д/д</th>
          <th>Хэнээс</th>
          <th>Хэнд</th>
          <th>Уншсан номнууд</th>
          <th>Үнийн дүн</th>
          <th>Төлөв</th>
          <th>Огноо</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="receipts?.length > 0">
        <tr *ngFor="let receipt of receipts; let i = index;">
          <td>{{ i + 1}}</td>
          <td>{{ receipt.from }}</td>
          <td>{{ receipt.toWhom }}</td>
          <td>{{ receipt.books }}</td>
          <td>{{ receipt.price }}</td>
          <td *ngIf="receipt.status==1; else returned">
            <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Хэвлэгдсэн
          </td>
          <ng-template #returned>
            <td>
              <span class="square-8 bg-danger mg-r-5 rounded-circle"></span> Буцаасан
            </td>
          </ng-template>
          <td>{{ receipt.printed_date  | date:'yyyy-MM-dd H:m:s'}}</td>

         
        </tr>
      </tbody>
    </table>
  </div>
</div>